@font-face {
  font-family: 'Conv_helveticaneuecyr-ultralight';
  src: url('../fonts/helveticaneuecyr-ultralight.eot');
  src: local('☺'), url('../fonts/helveticaneuecyr-ultralight.woff') format('woff'), url('../fonts/helveticaneuecyr-ultralight.ttf') format('truetype'), url('../fonts/helveticaneuecyr-ultralight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 30px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
   
 }

 

ul.menu {
position: absolute;
float: right;
width: 683px;
height: 20px;
left: 424px;
top: 29px;
}

ul.menu li {
  float: left;
  padding: 0 0 0 5px;
  list-style: none;
  margin: 1px 1px 0 0;
}

ul.menu li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: block;
  height: 20px;
  padding: 6px 15px 5px 15px;
  color: #ffffff;
  text-transform: uppercase;
}

ul.menu li.selected a {
  color: #aeb002;
}

ul.menu li a:hover {
  color: #e4ec04;
}

.lang img {
position: absolute;
left: 1128px;
right: 190px;
top: 31px;
bottom: 0;
}

.search {
position: absolute;
left: 1229px;

top: 30px;

}

.block {
  display: flex;
  height: 441px;
}

.block_left {
  background-color: #303749;
  width: 51px;
  }

li.brit {
position: absolute;
margin: 125px 10.94px 0 9px;
}
  
li.germ {
position: absolute;
margin: 175px 10.94px 0 9px;
}

li.russ {
position: absolute;
margin: 226.84px 10.94px 0 9px;
}

li.ital {
position: absolute;
margin: 277.77px 10.94px 0 9px;
}

li.uae {
position: absolute;
margin: 328.89px 10.94px 0 9px;
}

li.espa {
position: absolute;
margin: 380.02px 10.94px 0 9px;
}

.block_center {
    background-color: #164b91;
    width: 624px;
    background-image: url(blockcenter.png);
    background-size: cover;

}

.block_center > img.imgw{
  width: auto;
  height: 100%;
}

.logo  {
  
  margin: 30.63px 0 0 30.66px;
}



p.company {
position: absolute;
width: 427px;
height: 146px;
left: 158px;
top: 168px;
color: #ffffff;
font-family: "Open Sans";
font-size: 24px;
font-weight: normal;
line-height: 138.18%;
text-align: center;
}

.btn {
position: absolute;
width: 174px;
height: 40px;
left: 276px;
top: 329px;
border-radius: 30px;
border: 2px solid #fff500;
border-radius: 112px;
display: flex;
align-items: center;
justify-content: center;
}

.btn a {
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #FFF500;
transition: 0.3s;

}

.btn:hover{
    background-color: #fff500ba;
    border: 2px solid #ffffff;
    transition: .6s;
    box-shadow: 0px 11px 22px rgba(0, 0, 0, 0.3);

 }
.btn:hover a{
    color: white;
    transition: .6s;
}


.block_right {
background-color: #303749;
width: 674px;
}
.bags { 
margin: 162px 0 0 74px; 
max-width: 525px; 
}

.ourworks {
position: absolute;
width: 216px;
height: 49px;
left: 904px;
top: 378px;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 49px;
color: #FFFFFF;  
text-transform: uppercase;
}

.tim {
position: absolute;
width: 48px;
height: 37px;
left: 834.74px;
top: 87px;
}
.tim:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);

}

p.text1 {
position: absolute;
width: 134px;
height: 28px;
left: 784px;
top: 134px;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 14px;
text-align: center;
color: #FFFFFF;

}

.tim2 {
position: absolute;
width: 36.14px;
height: 41.19px;
left: 994px;
top: 80.73px;
}

.tim2:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  
}
p.text2 {
position: absolute;
width: 108px;
height: 28px;
left: 958px;
top: 134px;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 14px;
text-align: center;
color: #FFFFFF;

}

.tim3 {
position: absolute;
width: 39px;
height: 33px;
left: 1139px;
top: 91px;
}

.tim3:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  
}
p.text3 {
position: absolute;
width: 105px;
height: 28px;
left: 1106px;
top: 134px;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 14px;
text-align: center;
color: #FFFFFF;
}

.setting {
position: absolute;
width: 67px;
height: 43px;
left: 1282px;
top: 87px;
background: #FFFFFF;
border-radius: 50px 0 0 50px;
}

.tim4 {
padding: 7.7px 17.31px 7.7px 17.31px;

}


.bottom {
  display: flex;
  height: 216px;
}


.block_bottoml {
  width: 51px;
  height: 216px;
  background-color: #484848;
}

.guli {
position: absolute;
width: 22px;
height: 146px;
left: 14px;
top: 476px;
}


.block_bottom {
  width: 1298px;
  height: 216px;
  background-color: #656b79;
}

.bot1 {
position: absolute;
width: 159px;
height: 100px;
left: 131px;
top: 468px;
}

.btext1 {
position: absolute;
width: 127px;
height: 48px;
left: 118px;
top: 580px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 99.68%;
text-align: center;
color: #FFFFFF;
}

.bot2 {
position: absolute;
width: 161px;
height: 100px;
left: 323px;
top: 468px;
}

.btext2 {
position: absolute;
width: 130px;
height: 48px;
left: 309px;
top: 580px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 99.68%;
text-align: center;
color: #FFFFFF;
}

.bot3 {
position: absolute;
width: 161px;
height: 100px;
left: 522px;
top: 468px;
}

.btext3 {
position: absolute;
width: 105px;
height: 48px;
left: 522px;
top: 580px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 99.68%;
text-align: center;
color: #FFFFFF;
}

.bot4 {
position: absolute;
width: 162px;
height: 101px;
left: 714px;
top: 467px;
}

.btext4 {
position: absolute;
width: 148px;
height: 48px;
left: 694px;
top: 580px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 99.68%;
text-align: center;
color: #FFFFFF;
}

.bot5 {
position: absolute;
width: 162px;
height: 101px;
left: 911px;
top: 468px;
}

.btext5 {
position: absolute;
width: 118px;
height: 48px;
left: 904px;
top: 580px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 99.68%;
text-align: center;
color: #FFFFFF;
}

.bot6 {
position: absolute;
width: 161px;
height: 101px;
left: 1108px;
top: 467px;
}

.btext6 {
position: absolute;
width: 131px;
height: 48px;
left: 1094px;
top: 580px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 99.68%;
text-align: center;
color: #FFFFFF;
}